/*FORMULARIOS*/
form label { font-weight: 600; }

form .form-control {
  border-radius: vars.$radius-md;
  border: 1px solid vars.$gris-300;
}

form .form-control:focus {
  border-color: vars.$color-nav;
  box-shadow: 0 0 0 0.2rem rgba(vars.$color-nav, 0.25);
}