/*ICONOS GENERALES*/
.icono-index,
.icono-contacto,
.icono-nosotros {
  max-width: 90px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.icono-contacto { max-width: 80px; }
.icono-nosotros { max-width: 120px; }
.icono-curiosidad {
  max-width: 90px;
  height: auto;
  display: block;
  margin: 0 auto;
}